# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/

# Ruby
*.gem
.ruby-version
.ruby-gemset

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Chirpy specific
assets/js/dist/
node_modules/
package-lock.json

# Other
*.log
