<script>
  var script = document.createElement('script');
  script.setAttribute('src', 'https://utteranc.es/client.js');
  script.setAttribute('repo', '{{ site.comments.utterances.repo }}');
  script.setAttribute('issue-term', '{{ site.comments.utterances.issue-term }}');
  script.setAttribute('theme', '{{ site.comments.utterances.theme }}');
  script.setAttribute('crossorigin', 'anonymous');
  {%- if site.url and site.baseurl -%}
  script.setAttribute('origin', '{{ site.url }}{{ site.baseurl }}');
  {%- elsif site.url -%}
  script.setAttribute('origin', '{{ site.url }}');
  {%- endif -%}
  script.setAttribute('async', '');
  var target = document.getElementById('utterances-comments');
  if (target) {
    target.appendChild(script);
  }
</script>
<div id="utterances-comments"></div>
